<div class="w-full min-h-screen flex flex-col justify-center items-center">

     <span class="text-3xl mb-2 underline">MapBox</span>

     <div>
          <div class="w-1/2 flex flex-col">
               <mat-form-field>
                    <mat-label>Street Address</mat-label>
                    <input type="text"
                           aria-label="Number"
                           matInput
                           [matAutocomplete]="auto"
                           #searchCtrl>
                    <mat-autocomplete #auto="matAutocomplete"
                                      [displayWith]="displayFn">
                         <mat-option *ngFor="let address of addresses"
                                     [value]="address"
                                     (click)="onSelectAddress(address.id)">
                              {{address.place_name}}
                         </mat-option>
                    </mat-autocomplete>
               </mat-form-field>

               <mat-form-field>
                    <mat-label>Suburb</mat-label>
                    <input type="text"
                           matInput
                           #suburb>
               </mat-form-field>

               <mat-form-field>
                    <mat-label>City</mat-label>
                    <mat-select>
                         <mat-option *ngFor="let city of cities"
                                     [value]="city.cityName"
                                     (click)="onSelectUserCity(city)">
                              {{ city.cityName }} - {{ city.streetCode }}
                         </mat-option>
                    </mat-select>
               </mat-form-field>

               <mat-form-field>
                    <mat-label>Postal Code</mat-label>
                    <input type="text"
                           matInput
                           #postalCode>
               </mat-form-field>

               <mat-checkbox (change)="onShowMap($event)">Show map</mat-checkbox>
          </div>

          <div *ngIf="showMap"
               class="w-1/2 h-64">
               <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'"
                        [zoom]="[9]"
                        [center]="center">
               </mgl-map>
          </div>
     </div>
</div>